
:root {
    --rule-color: white;
    --rule-color-muted: rgb(141, 141, 141);
    --action-color: rgb(26, 174, 43);
    --condition-color: rgb(197, 161, 16);
    --action-color-muted: rgb(25, 111, 46);
    --condition-color-muted: rgb(104, 85, 14);
    --no-action-condition-color: rgb(147, 142, 141);
    --value-bg: rgb(0, 0, 0, 0.7);
    --separator-bar-color: rgba(62, 69, 81, 0.7);
    --label-background-color: rgba(50, 66, 96, 0.7);
    --dropdown-color: rgba(32, 82, 126, 0.7);
    --dropdown-bg-color: rgb(40, 54, 78);
    --dropdown-bg-color-hover: rgb(27, 116, 187);
    --dropdown-value-bg-hover: rgb(38, 141, 186);
    --action-hover-color: white;
    --edit-background-color: rgb(34, 45, 65);
    --edit-buttons-bg-color: rgba(34, 32, 35, 0.85);
    --background-dim: rgba(0, 0, 0, 0.9);
    --cancel-bg-color: rgb(53, 162, 231);
    --ok-bg-color: rgb(223, 153, 49);
    --reset-to-defaults-bg-color: rgb(27, 116, 187);
    --text-color: rgb(199, 212, 223);
    --text-field-bg: rgb(206, 206, 207);
    --text-field-bg-focused: white;
    --text-field-color: black;
    --checkbox-bg: rgb(167, 170, 167);
    --checkbox-border: rgb(19, 43, 67);
    --collapse-line-color: rgb(26, 69, 104);
    --comment-color: rgb(162, 165, 170);
    --title-color: rgb(243, 243, 243);
    --delete-title-background: rgb(155, 6, 19);
    --variable-global-player-title: rgb(146, 153, 163);
    --title-background: rgb(55, 71, 107);
    --card-background: rgb(39, 50, 72);
    --description-color: rgb(248, 158, 27);
    --window-separator-color: rgb(80, 91, 113);
    --subtitle-color: rgb(185, 192, 208);
    --indent-bar-color: rgb(146, 151, 169);
    --array-button-border-color: rgb(156, 163, 176);
    --number-input-focused-border: rgb(56, 119, 177);
    --number-input-focused-bg: rgb(108, 140, 164);

    --toast-background: /*#d0d0d0*/ rgba(255, 255, 255, 0.8);
    --toast-text: black;
    --toast-error: rgb(194, 0, 13);
    --toast-warning: rgb(194, 171, 0);
    --toast-info: rgb(0, 100, 194);

    --syntax-coloration-variable-and-num: rgb(208, 208, 208);
    --syntax-coloration-value: rgb(176, 206, 247);
    --syntax-coloration-action-and-operator: rgb(237, 213, 140);
    --syntax-coloration-string: rgb(80, 113, 158);

    --label-font-size: 20px;
    --dropdown-font-size: 22px;

    --vs-dropdown-bg: var(--dropdown-bg-color);
    --vs-dropdown-color: var(--text-color);
    --vs-dropdown-option-color: var(--text-color);
    --vs-dropdown-option--active-bg: var(--dropdown-value-bg-hover);
    --vs-dropdown-option--active-color: var(--text-color);
    --vs-font-size: 22px;

    --vs-actions-padding: 0px 12px;
    --vs-search-input-color: var(--text-color);
    --vs-search-input-placeholder-color: var(--text-color);
    --vs-search-input-bg: var(--dropdown-color);
    --vs-selected-bg: var(--dropdown-bg-color);
    --vs-selected-color: var(--text-color);
    --vs-controls-color: var(--text-color);
    --vs-border-radius: 0px;
    --vs-border-width: 0px;
}

@font-face {
    font-family: "FuturaNo2D";
    src: url("../fonts/futura_no2_d_demi_bold.ttf");
}
@font-face {
    font-family: "BigNoodle";
    src: url("../fonts/big_noodle_too.ttf");
}
@font-face {
    font-family: "BlizzardGlobal";
    src: url("../fonts/blizzard_global.ttf");
}

@font-face {
    font-family: "Koverwatch";
    src: url("../fonts/korean/Koverwatch\ v1.0.ttf");
}
@font-face {
    font-family: "YoonBlackfit";
    src: url("../fonts/korean/Yoon\ Blackfit\ 77\ v1.020.ttf");
}

@font-face {
    font-family: "DfSoGei";
    src: url("../fonts/japanese/DfSoGei\ Std\ W9\ v2.001.otf");
}
@font-face {
    font-family: "UdTypos512";
    src: url("../fonts/japanese/UDTypos512\ v001.000.ttf");
}
@font-face {
    font-family: "BlizzardGlobalJap";
    src: url("../fonts/japanese/BlizzardGlobalJAP\ v8.10.ttf");
}

@font-face {
    font-family: "ArCrystalHei";
    src: url("../fonts/chinese\ simplified/AR CrystalHeiGBK\ DB\ v1.20.ttf");
}
@font-face {
    font-family: "ArUdjingX95";
    src: url("../fonts/chinese\ simplified/AR UDJingXiHeiX95GBK DB v1.10.ttf");
}

@font-face {
    font-family: "ArHei";
    src: url("../fonts/chinese\ traditional/AR HeiU20 MD v1.23.ttf");
}
@font-face {
    font-family: "ArUdjing";
    src: url("../fonts/chinese\ traditional/AR UDJingXiHeiTC MD v1.00.ttf");
}


.font-blizzglobal {
    font-family: "BlizzardGlobal";
}
.font-futurano2d {
    font-family: "FuturaNo2D", "BlizzardGlobal";
}
.font-bignoodle {
    font-family: "BigNoodle", "BlizzardGlobal";
    font-style: italic;
}

.ko-KR .font-futurano2d, .ko-KR.font-futurano2d {
    font-family: "YoonBlackfit", "BlizzardGlobal";
}
.ko-KR .font-bignoodle, .ko-KR.font-bignoodle {
    font-family: "Koverwatch", "BlizzardGlobal";
    font-style: italic;
}

.ja-JP .font-blizzglobal, .ja-JP.font-blizzglobal {
    font-family: "BlizzardGlobalJap";
}
.ja-JP .font-futurano2d, .ja-JP.font-futurano2d {
    font-family: "UdTypos512", "BlizzardGlobalJap";
}
.ja-JP .font-bignoodle, .ja-JP.font-bignoodle {
    font-family: "DfSoGei", "BlizzardGlobalJap";
    font-style: italic;
}

.zh-CN .font-futurano2d, .zh-CN.font-futurano2d {
    font-family: "ArUdjingX95", "BlizzardGlobal";
}
.zh-CN .font-bignoodle, .zh-CN.font-bignoodle {
    font-family: "ArCrystalHei", "BlizzardGlobal";
    font-style: italic;
}

.zh-TW .font-futurano2d, .zh-TW.font-futurano2d {
    font-family: "ArUdjing", "BlizzardGlobal";
}
.zh-TW .font-bignoodle, .zh-TW.font-bignoodle {
    font-family: "ArHei", "BlizzardGlobal";
    font-style: italic;
}

* {
    box-sizing: border-box;
}

body, textarea {
    background-color: #222222;
    scrollbar-color: #CCCCCC #222222;
    text-transform: uppercase;
}

a {
    color: lightblue;
}

body {
    margin: 0px;
}

#app-wrapper-wrapper {

    background-size: cover;
}

#app-wrapper {
    backdrop-filter: blur(10px) brightness(30%);
    display: flex;
    justify-content: center;
}

#app {
    max-width: 1580px;
    width: 100%;
    height: 100vh;
    display: grid;
    padding-bottom: 30px;
    align-content: baseline;
    margin-left: 150px;
    margin-right: 150px;
}

#workshop-title {
    font-size: 48px;
    font-style: italic;
    color: rgba(255, 255, 255, 0.7);
    text-align: center;
    padding-top: 10px;
    padding-bottom: 5px;
}

#workshop-subtitle {
    color: var(--title-color);
    text-align: center;
    padding-bottom: 15px;
}

.rule {
    padding-bottom: 7px;
    padding-top: 7px;
    display: flex;
}

.rule-collapse-bar {
    padding-right: 8px;
    display: flex;
    flex-flow: column;
    align-items: center;
}

.rule-collapse-button, .rule-expand-button {
    margin-top: 3px;
    margin-left: 1px;
}

.rule-collapse-line {
    flex: 1;
    width: 3px;
    background-color: var(--collapse-line-color);
}

.rule-header-and-content {
    width: 100%;
}

.rule-header {
    display: flex;
    align-items: center;
}

.rule-title {
    resize: none;
    height: 43px;
    border: 1px solid var(--text-field-bg-focused);
    border-radius: 6px;
    padding-left: 12px;
    white-space: pre;
    width: 100%;
    overflow: hidden;
    font-size: 21px;
    background-color: var(--text-field-bg);
    color: var(--text-field-color);
    margin-right: 9px;
}

.rule-title:hover, .rule-title:focus {
    background-color: var(--text-field-bg-focused);
}

.rule-title:focus {
    outline: var(--text-field-bg-focused) solid 2px;
}

.rule-content {
    padding-left: 83px;
    width: 100%;
    padding-top: 10px;
    padding-right: 59px;
    padding-bottom: 67px;
}

.rule-event {
    width: auto;
    margin-bottom: 7px;
    padding-left: 2px;
    display: flex;
}

.rule-event-name {
    background-color: var(--label-background-color);
    display: inline-block;
    display: flex;
    align-items: center;
    width: 100%;
    margin-right: 7px;
    padding-left: 20px;
    height: 40px;
    font-size: var(--label-font-size);
    color: var(--text-color);
}

.rule-event-value {
    display: inline-block;
    min-width: 553px;
    font-size: var(--dropdown-font-size);
}

input[type="checkbox"] {
    width: 30px;
    height: 30px;
    outline: var(--checkbox-border) solid 3px;
}

#workshop-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 4px solid var(--separator-bar-color);
    padding-bottom: 10px;
    margin-bottom: 7px;
}

#rules {
    overflow: auto;
    padding-right: 20px;
}

#rules-title {
    color: var(--rule-color);
    font-size: 29px;
    padding-right: 13px;
    margin-right: 2px;
}

#rules-nb {
    color: var(--rule-color-muted);
    font-size: 22px;
    padding-right: 7px;
}

.button-header {
    margin-left: 5px;
}

.img-button:hover {
    outline: white solid 1px;
    z-index: 1000;
    position: relative;
}

.button-delete.button-header {
    margin-right: 70px;
}

#button-separator {
    border-left: 3px solid var(--separator-bar-color);
    height: 50px;
    padding-left: 10px;
    margin-left: 15px;
}

#buttons-move-up-down {
    display: grid;
}

.button-header #button-move-up {
    margin-bottom: 2px;
}

#workshop-header-left {
    display: flex;
    align-items: center;
}

#workshop-header-right {
    display: flex;
    align-items: center;
}

.v-select {
    height: 100%;
    display: grid;
}

.vs__selected-options {
    padding-left: 12px;
}

.vs__selected {
    margin: 0px;
    padding: 0px;
    height: 100%;
}

.vs__search, vs__search:focus {
    padding: 0px !important;
    margin: 0px !important;
    font-family: inherit;
    font-size: 22px;
}

.vs__dropdown-menu {
    font-size: 18px;
}

.vs__dropdown-toggle {
    padding-bottom: 0px;
}

.vs__dropdown-toggle:hover {
    background-color: var(--dropdown-bg-color-hover);
}

.conditions-header, .actions-header {
    text-transform: uppercase;
    border-bottom: 3px solid var(--separator-bar-color);
    font-size: var(--dropdown-font-size);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 9px;
    margin-bottom: 8px;
}

.conditions-header {
    color: var(--condition-color);
}

.conditions-nb {
    color: var(--condition-color-muted);
}

.actions-header {
    color: var(--action-color);
}

.actions-nb {
    color: var(--action-color-muted);
}

.conditions-and-actions {
    display: flex;
    padding-top: 4px;
}

.conditions, .actions {

    width: 50%;
    display: inline-block;
}

.actions {
    padding-left: 20px;
}
.conditions {
    padding-right: 20px;
}

.action {
    display: flex;
    flex-wrap: wrap;
}

.conditions-buttons, .actions-buttons {
    display: flex;
}

.button-action-condition {
    margin-left: 5px;
    height: 35px;
    width: 35px;
}

.button-delete.button-action-condition {
    margin-right: 35px;
}

.button-action-condition #button-move-up {
    margin-bottom: 1.5px;
}

.button-action-condition #button-move-up, .button-action-condition #button-move-down {
    height: 16.5px;
    width: 35px;
}

.no-values-msg {
    text-transform: uppercase;
    text-align: center;
    padding-top: 10px;
    font-size: 22px;
    color: var(--no-action-condition-color);
}

#app > .no-values-msg {
    font-size: 45px;
    height: calc(100vh - 178px); /*how the fuck do I center this shit*/
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    justify-content: center;
    padding-bottom: 19vh;
    row-gap: 20px;
}

#no-rules {
    width: 100%;
}

#no-rules-help {
    width: 100%;
    font-size: 23px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#no-rules-help img {
    width: 26px;
    height: 26px;
    margin: 10px;
}

.code-display-wrapper {
    width: 100%;
    background-color: var(--value-bg);
    display: inline-block;
    margin-top: 3px;
    margin-bottom: 3px;
    margin-right: 4px;
    border: 2px solid transparent;
    font-size: 17px;
}

.disabled {
    filter: brightness(35%);
}

.code-display-wrapper:hover {
    border-color: var(--action-hover-color);
}

.code-display {
    word-break: break-word;
    padding: 9px;
    text-transform: none;
    color: var(--syntax-coloration-action-and-operator);
}

.code-operator {
    color: var(--syntax-coloration-action-and-operator);
}

.code-var {
    color: var(--syntax-coloration-variable-and-num);
}

.code-value {
    color: var(--syntax-coloration-value);
}

.code-string {
    color: var(--syntax-coloration-string);
}

.action .code-display {
    border-left: 3px solid var(--action-color);
}

.condition .code-display {
    border-left: 3px solid var(--condition-color);
}

.comment {
    display:block;
    width: 100%;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 56px;
    white-space: pre-wrap;
    color: var(--comment-color);
    text-transform: none;
    font-size: 15px;
}


.code-and-checkbox {
    display: flex;
    align-items: center;
    width: 100%;
}

#ast-edit, #variables-edit-screen, #subroutines-edit-screen, #extensions-edit-screen, #metrics-screen, #info-screen, #settings-screen, #import-screen {
    z-index: 9999;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: var(--background-dim);
}

#edit-title, .variables-edit-title {
    text-align: center;
    color: var(--title-color);
    width: 100%;
    font-size: 45px;
    margin-bottom: 10px;
}

#edit-comment-wrapper {
    border-bottom: 3px solid var(--window-separator-color);
    margin-bottom: 9px;
    padding-bottom: 5px;
    width: 100%;
    padding-left: 4px;
    padding-right: 4px;

}

textarea {
    resize: none;
    height: 33px;
    border: 1px solid var(--text-field-bg-focused);
    border-radius: 6px;
    padding-left: 10px;
    white-space: pre-wrap;
    width: 100%;
    overflow: hidden;
    font-size: 21px;
    background-color: var(--text-field-bg);
    color: var(--text-field-color);
    text-transform: none;
}

.rule-title:hover, .rule-title:focus, textarea:focus {
    background-color: var(--text-field-bg-focused);
}

.rule-title:focus, textarea:focus {
    outline: var(--text-field-bg-focused) solid 2px;
}

#edit-background, .variables-background {
    padding-top: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
    max-height: 100%;
}

#edit-background, .variables-background, .window-background {
    display: grid;
    grid-template-rows: auto;
    width: 100%;
    background-color: var(--edit-background-color);
    justify-items: center;
}
#info-screen .window-background {
    max-height: 100%;
    margin-top: 50px;
    margin-bottom: 50px;
}

.window-background {
    justify-items: center;
}

#extensions-edit-screen .window-background {
    height: calc(100% - 50px);
}

#edit-content {
    max-height: calc(100vh - 400px);
    overflow: auto;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 50px;
    max-width: 1490px;
    padding-right: 2px;
    width: 100%;
}

.argument-value-wrapper-wrapper {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

.argument-value-wrapper {
    display: flex;
    min-height: 39px;
    width: 100%;
    margin-bottom: 7px;
    font-size: 18px;
}

.argument {
    display: flex;
    align-items: center;
    width: 100%;
    background-color: var(--label-background-color);
    padding-left: 21px;
    padding-right: 10px;
    margin-right: 7px;
    color: var(--text-color);
    height: 100%;
}

.argument.argument-number {
    margin-right: 0px;
}

.value {
    min-width: 600px;
    display: flex;
    height: 100%;
    font-size: 22px;
}

.value-dropdown {
    height: 100%;
    width: 100%;
}

.number-input {
    background-color: var(--label-background-color);
    width: 100%
}

input[type="number"] {
    background-color: transparent;
    padding-left: 9px;
    color: var(--title-color);
    font-size: inherit;
    border: none;
    height: 100%;
    width: 100px;
    z-index: 999999999;
    -moz-appearance: textfield;
}

input[type="number"]:hover {
    outline: white 1px solid;
}

input[type="number"]:focus {
    outline: var(--number-input-focused-border) 1px solid;
    background-color: var(--number-input-focused-bg);
    color: black;
}

.value-string {
    width: 100%;
    padding-left: 5px;
    padding-right: 7px;
    display: flex;
    align-items: center;
}

.array-img-button {
    border: 4px solid var(--array-button-border-color);
    border-radius: 4px;
}

.array-img-button:hover {
    border-color: white;
}

.array-add, .array-remove, .array-up-down {
    margin-right: 4px;
}

.array-up-down {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.indent-marker {
    min-width: 2px;
    background-color: var(--indent-bar-color);
    margin-left: 15px;
    margin-right: 14px;
    margin-top: -4px;
    margin-bottom: -4px;
    height: auto;
}

.edit-buttons {
    width: 100%;
    text-align: center;
    height: 71px;
    background-color: var(--edit-buttons-bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 5px;
}

.cancel-button {
    background-color: var(--cancel-bg-color);
    width: 130px;
    height: 55px;
    font-size: 27px;
}

.ok-button {
    background-color: var(--ok-bg-color);
    width: 145px;
    height: 55px;
    font-size: 30px;
}

.cancel-button, .ok-button {
    color: var(--title-color);
    text-transform: uppercase;
    border-radius: 2px;
    border: 1px solid transparent;
}

button:hover {
    border-color: white;
}

.no-uppercase {
    text-transform: none;
}

#delete-confirmation {
    clip-path: circle(0);
    z-index: 99999;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    background-color: var(--background-dim);
    background-image: url("../img/delete-background-2.png");
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center;
}
/*cannot use display:none because else the image won't be loaded on start*/
#delete-confirmation.shown {
    clip-path: none;
}

#delete-title {
    text-align: center;
    color: var(--title-color);
    /*background-color: var(--delete-title-background);*/
    text-shadow: 0 0 10px red,0 0 10px red,0 0 10px red,0 0 10px red,0 0 10px red,0 0 10px red,0 0 10px red,0 0 10px red,0 0 10px red,0 0 10px red,0 0 10px red,0 0 10px red,0 0 10px red,0 0 10px red,0 0 10px red,0 0 10px red,0 0 10px red;
    font-size: 45px;
    padding-bottom: 70px;
    padding-top: 30px;
    padding-right: 5px;
    width: 100%;
}

.variables-background {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#variables-edit-wrapper {
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 35px;
    width: 100%;
    display: flex;
    justify-content: center;
    column-gap: 35px;
    height: calc(100% - 250px);
}

.variables-edit {
    width: 100%;
    display: grid;
    grid-template-rows: auto auto;
    max-width: 750px;
}

.variables-edit-subtitle {
    color: var(--variable-global-player-title);
    text-align: center;
    font-size: 30px;
}

.variables-edit-fields {
    overflow: auto;
    display: grid;
    row-gap: 7px;
    margin-top: 6px;
    max-height: calc(100vh - 600px);
    min-height: 50px;
}

.variables-edit-row {
    display: flex;
    align-items: center;
    width: 100%;
}

.variables-edit-nb {
    color: var(--text-color);
    font-size: 20px;
    width: 50px;
    text-align: center;
}

.variables-edit-field {
    width: 100%;
    height: 40px;
    border: 1px solid var(--text-field-bg-focused);
    border-radius: 6px;
    padding-left: 12px;
    white-space: pre;
    overflow: hidden;
    font-size: 21px;
    background-color: var(--text-field-bg);
    color: var(--text-field-color);
    margin-right: 7px;
}
.variables-edit-field:hover, .variables-edit-field:focus {
    background-color: var(--text-field-bg-focused);
}

.variables-edit-field:focus {
    outline: var(--text-field-bg-focused) solid 2px;
}

.reset-to-defaults {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding-right: 200px;
    padding-top: 50px;
    padding-bottom: 20px;
}

.reset-to-defaults-button {
    color: var(--title-color);
    background-color: var(--reset-to-defaults-bg-color);
    font-size: 25px;
    width: 250px;
    height: 55px;
    text-transform: uppercase;
    border-radius: 2px;
    border: 1px solid transparent;
}

.window-edit-title {
    text-align: center;
    color: var(--title-color);
    width: 100%;
    font-size: 45px;
    background-color: var(--title-background);
    height: 91px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cards {
    display: flex;
    column-gap: 18px;
    padding-top: 23px;
    justify-content: center;
    padding-bottom: 23px;
}

.card {
    width: 280px;
    height: 248px;
    text-align: center;
    background-color: var(--card-background);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card-title {
    height: 94px;
    color: var(--subtitle-color);
    font-size: 19px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-value {
    height: 61px;
    border-bottom: 3px solid var(--window-separator-color);
    margin-left: 29px;
    margin-right: 29px;
    color: var(--title-color);
    font-size: 30px;
    width: 100%;
}

.card-description {
    padding-top: 20px;
    color: var(--description-color);
    text-transform: none;
    padding-left: 27px;
    padding-right: 27px;
    font-size: 11pt;
    height: 100%;
}

#extensions {
    max-width: 1130px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    row-gap: 27px;
    overflow: auto;
    margin-top: 24px;
    min-height: 50px;
}

.extension {
    width: 100%;
    display: flex;
    align-items: center;
    text-align: center;

}

.extension-title {
    width: 280px;
    color: var(--title-color);
    text-transform: none;
    font-size: 19px;
}

.extension-description {
    width: 500px;
    color: var(--description-color);
    text-transform: none;
    font-size: 11pt;
}

.extension-points {
    width: 135px;
    color: var(--title-color);
    font-size: 19px;
}

.extension-checkbox {
    width: 135px;
}

#info {
    max-width: 800px;
    width: 100%;
    text-align: center;
    color: var(--text-color);
    text-transform: none;
    font-size: 16pt;
    display: flex;
    flex-wrap: wrap;
    overflow: auto;
    max-height: calc(100vh - 300px);
}

#info p {
    width: 100%;
    margin-bottom: 10px;
    margin-top: 10px;
}

.setting {
    display: flex;
    column-gap: 10px;
    padding-bottom: 5px;
    padding-top: 5px;
    width: 100%;
}

.setting-name {
    background-color: var(--label-background-color);
    width: 70%;
    text-align: left;
    padding-left: 5px;
    display: flex;
    align-items: center;
}

.setting-value {
    width: 100%;
}

#decompile-text {
    min-height: 400px;
    overflow: auto;
}

.toastify {
    background: none;
    box-shadow: none;
    background-color: var(--toast-background);
    color: var(--toast-text);
    text-transform: none;
    border: none;
    border-radius: 0;
    width: 435px;
    padding: 5px 10px 5px 0px;
    display: flex;
    align-items: center;
    min-height: 46px;
    cursor: auto;
}

.toastify::before {
    display: flex;
    margin-right: 10px;
    margin-top: -5px;
    margin-bottom: -5px;
    align-self: stretch;
    content: "";
    min-width: 43px;
    background-position: center;
    background-repeat: no-repeat;
}

.toastify.error::before {
    background-image: url("../img/error.png");
    background-color: var(--toast-error);
}
.toastify.info::before {
    background-image: url("../img/success.png");
    background-color: var(--toast-info);
}
.toastify.warning::before {
    background-image: url("../img/warning.png");
    background-color: var(--toast-warning);
}

#settings-wrapper {
    max-width: 1200px;
    width: 100%;
    text-align: center;
    color: var(--text-color);
    text-transform: none;
    font-size: 16pt;
    display: flex;
    flex-wrap: wrap;
    overflow: auto;
    max-height: calc(100vh - 300px);
    text-transform: uppercase;
    padding: 5px;
    row-gap: 5px;
}

.cgs-content {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 5px;
}

.cgs-content .cgs-content, .cgs-values {
    padding-left: 42px;
}

.cgs-title-wrapper {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    column-gap: 5px;
}

.cgs-values {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    row-gap: 5px;
    padding-top: 5px;
}

.cgs-setting-name-value {
    width: 100%;
    display: flex;
    column-gap: 5px;
    align-items: center;
}

.cgs-setting-name {
    width: 100%;
    background-color: var(--label-background-color);
    justify-content: end;
    padding-left: 10px;
    padding-right: 10px;
    height: 100%;
    display: flex;
    align-items: center;
}

.cgs-setting-value {
    width: 100%;
    display: flex;
    justify-content: center;
}

.cgs-setting-value .v-select {
    width: 100%;
}

.cgs-setting-value input[type="checkbox"] {
    width: 100%;
}

.cgs-setting-value input[type="number"] {
    text-align: center;
    width: 130px;
    padding: 0px;
}
.cgs-setting-value input[type="range"] {
    width: 100%;
}
