# pnpm-related options
shamefully-hoist=true
strict-peer-dependencies=false
# to get the latest compatible packages when creating the project https://github.com/pnpm/pnpm/issues/6463
resolution-mode=highest

#To reduce the impact of npm hacks, do not install recent versions. In minutes: 60*24*45 = 64800
minimum-release-age=64800
trust-policy=no-downgrade

#Not needed for pnpm >= 10, but put there just in case someone uses an older version
ignore-scripts=true
ignore-dep-scripts=true

#To prevent accidental use of npm
engine-strict=true
