name: OverPy Behavior Testing
on:
    push:
        branches:
            - master
    pull_request: {}

env:
    HUSKY: 0

jobs:
    test:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout
              uses: actions/checkout@v6
              with:
                  fetch-depth: 0

            - name: Setup pnpm
              uses: pnpm/action-setup@v4

            - name: Setup Node.js
              uses: actions/setup-node@v6
              with:
                  node-version: 22.4
                  cache: pnpm

            - name: Install dependencies
              run: |
                  pnpm i --frozen-lockfile

            - name: Run tests
              run: |
                  pnpm run test
